.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #4d004d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sideNav ul {
  margin-top: 1.5rem;
}

.sideNav a {
  padding: 16px 32px;
  text-decoration: none;
  font-size: 30px;
  line-height: 48px;
  font-weight: 300;
  color: #b3b3b3;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #ffffff;
}

.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 24px;
  font-size: 46px;
  font-weight: normal;
  background-color: #4d004d;
  border: 0;
  color: #b3b3b3;
}

.sideNav .closeBtn:hover {
  cursor: pointer;
  color: #ffffff;
}

.menu {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 24px 0 0 24px;
  align-items: center;
}

.menu-bars {
  margin-right: 8px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: #4d004d;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-text {
  display: none;
}

.menu:hover .menu-text {
  display: inline-block;
  position: relative;
  color: #4d004d;
  transition: 0.5s ease-in;
}

/* Responsive layout - makes a two column layout */
@media screen and (max-width: 800px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .sideNav {
    padding-top: 4rem;
  }

  .sideNav a {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}
