.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  margin-bottom: 24px;
}

.logo-text h1 {
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  line-height: 60px;
  color: #330033;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.listing-table {
  min-width: 100%;
  border: 0;
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed;
}

.listing-table tr {
  background-color: #ffffff;
}

.listing-table-header {
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 56px;
  padding: 16px;
  background-color: #f9f9f9;
}

.listing-table-row td {
  padding: 16px;
}

.listing-table-row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
}

.listing-table-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.listing-action {
  margin: 3rem 1rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.listingBtn {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #800080;
  width: 100%;
  padding: 16px;
  margin: 3rem;
  border: 2px solid #330033;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 3px;
  opacity: 1;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.listingBtn:hover,
.listingBtn:focus {
  background-color: #660066;
}

.listingBtn:focus {
  background-color: #660066;
  border: 2px solid #cc00cc;
  outline: none;
}

@media screen and (max-width: 600px) {
  .listing-action {
    margin: 2rem auto;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
}
