.contactSendMessage {
  /*margin-top: 1rem;*/
  font-size: 20px;
  line-height: 28px;
  color: #800080;
  font-weight: 400;
  text-align: center;
}

.contactSendMessage a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.contactSendMessage a:visited {
  text-decoration: none;
  color: #cc00cc;
}

.contactSendMessage a:hover {
  text-decoration: underline;
  color: #000;
}

.contactSendMessage a:focus {
  text-decoration: none;
  border: 2px solid #cc00cc;
  background-color: #f4f1f4;
  box-shadow: none;
  outline: none;
}

.contactWrapper {
  max-width: 800px;
  padding: 3rem 1rem;
  margin: 1rem auto;
  text-align: center;
  clear: both;
}

form {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

form input,
form textarea {
  display: block;
  font-size: 20px;
  color: #333;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  padding: 1rem;
  margin: 0;
  border: 2px solid #800080;
  box-shadow: none;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

form textarea {
  height: 10rem !important;
  resize: none;
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
}

input:focus,
textarea:focus {
  border: 2px solid #cc00cc;
  background-color: #f4f1f4;
  box-shadow: none;
  outline: none;
}

.field {
  position: relative;
  margin-bottom: 2rem;
}

.field label {
  position: absolute;
  opacity: 0.5;
  visibility: visible;
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #333;
  padding: 0 15px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    visibility 0s linear;
  transform: translate(0, -20px);
}

.submitBtn {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #800080;
  width: 100%;
  padding: 16px;
  margin-bottom: 2em;
  border: 2px solid #330033;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 3px;
  opacity: 1;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: #660066;
}

.submitBtn:focus {
  background-color: #660066;
  border: 2px solid #cc00cc;
  outline: none;
}

/* .errorMessage {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px 18px;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #ffffff;
  background: #cc00cc;
  border-radius: 2px;
  transition: transform 0.2s ease-in-out, opacity 0.4s ease-in-out,
    visibility 0.2s ease-in-out;
  -webkit-font-smoothing: auto;
} */

.errorMessage {
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #cc00cc;
  transition: transform 0.2s ease-in-out, 
              opacity 0.4s ease-in-out,
              visibility 0.2s ease-in-out;
  -webkit-font-smoothing: auto;
}

.errorMessage svg {
  margin-right: 0.5rem;
}

.warningMsgWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.warningMsgWrapper svg {
  width: 40px;
  height: 40px;
  margin-left: 0.5rem;
}
.warningMsg {
  margin-left: 0.75rem;
  font-size: 28px;
  font-weight: 300;
  color: #330033;
}

@media screen and (max-width: 600px) {
  .logo-text {
    margin-bottom: 1rem;
  }
  .logo-text h1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 0;
    text-align: center;
  }
  .contactSendMessage {
    margin-top: 0.5rem;
    font-size: 16px;
    line-height: 24px;
  }
  .contactWrapper {
    padding: 2rem 1rem;
  }
  .warningMsg {
    margin-left: 0.25rem;
    font-size: 20px;
    line-height: 24px;
  }
}
