.aboutMe {    
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.aboutMe h1 {
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  line-height: 60px;
  color: #330033;
}

.aboutMe h3 {
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  line-height: 40px;
  color: #4d004d;
}

.introduction { 
  max-width: 900px;
  margin: auto; 
  padding-right: 24px;
  padding-left: 24px;
}

.introduction p {        
  margin-bottom: 1rem;
  line-height: 20px;
}

.introduction p:last-child {      
  margin-bottom: 3rem;
}

.part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: 900px;
  margin: auto;
  margin-bottom: 2rem;
  padding-right: 24px;
  padding-left: 24px;
}

.part h5 {
  font-size: 16px;
  margin-right: 1.5rem;
  color: #4d004d;
  font-weight: 400;
  width: 120px;
}

.part p {
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  .aboutMe {    
      margin-bottom: 1rem;
  }
  .aboutMe h1 {
      font-size: 30px;              
      line-height: 38px;
      margin-bottom: 0;
      text-align: center;
  }

  .aboutMe h3 {
      font-size: 22px;
      line-height: 30px;
  }
}