.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  margin-bottom: 24px;
}

.logo svg {
  width: 140px;
  height: auto;
}

.logo-text h1 {
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  line-height: 60px;
  color: #330033;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -3rem;
}

.row {
  padding: 32px 16px 0 16px;
}

.row > .column {
  padding: 32px 8px 0 8px;
}

.column {
  float: left;
  width: calc(33.3333%);
}

.portfolio-column-content {
  position: relative;
  padding: 0;
}

.portfolio-column-content img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
}

.portfolio-column-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.portfolio-column-content:hover .portfolio-overlay {
  opacity: 1;
}

/* Responsive layout - makes a two column layout */
@media screen and (max-width: 800px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    padding-top: 24px !important;
  }
}
