.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #4d004d;
  padding: 72px 2rem;
  font-size: 14px;
  line-height: 24px;
  color: #e8e8e8;
  margin-top: 172px;
  text-align: center;
}

.footer p {
  margin-right: 32px;
}

.social-icons {
  width: 100px;
  display: inline-flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  width: 38px;
  height: 36px;
  text-align: center;
  color: #4d004d;
  text-decoration: none;
  background-color: #cccccc;
  border-radius: 50%;
  transition: 0.3s;
  margin-right: 16px;
}

.social-icons a:last-of-type {
  margin-right: 0;
}

.social-icons i {
  line-height: 36px;
  font-size: 24px;
}

.social-icons a:hover {
  background-color: #ffffff;
}

/* Responsive layout - makes a two column layout */
@media screen and (max-width: 800px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    padding-top: 24px !important;
  }

  .footer {
    margin-top: 4rem;
  }

  .footer p {
    margin-right: 0;
  }

  .social-icons {
    width: 200px;
    margin-left: 0;
    margin-top: 16px;
  }
}
