* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  background-color: #ede9fe;
}
